.user-menu {
  position: absolute;
  top: 32px;
  left: 1095px;
  width: 310px;
  height: 20px;
}

#basic-button {
  //margin-right: 100px;
  width: 370px;
}

.logout-link {
  color: #000000;
  text-decoration: none;
}
