.room-details {
  position: relative;
  margin-left: 294px;
  margin-top: 50px;
}

.return-link {
  color: #000000;
  text-decoration: none;
}

.return-link-wrapper {
  width: 142px;
  height: 32px;
  margin-top: 15px;
  margin-left: 260px;
  background-color: #d6e900;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  text-align: center;
}

.return-icon {
  position: relative;
  top: 5px;
  right: 3px;
}
