.footer {
  width: 970px;
  height: 94px;
  position: relative;
  left: 235px;
  top: 90px;
}

.footer text {
  font-family: "Calibri";
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #777070;
}

.media {
  justify-content: space-between;
  padding: 0px 10px 0px 53px;
}
